@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
    width: 1440px;
	margin: 0 auto;
}
nav{
    display: flex;
    padding: 65px 0px;
}
.logo{
    margin-right: auto;
}
.nav__list{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.nav__link{
    font: 700 12px/15px 'Barlow';
    letter-spacing:.9px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 33px;
    color: #83888F;
}
.nav__link:hover{
    color: #333D4B;
}
.header__main{
    padding-left: 90px;
    padding-top: 115px;
    background-image: url('/img/hero-bg.png');
    background-size: cover;
    height: 600px;
    width: 1440px;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.main__title{
    width: 40%;
    font-family: 'Fraunces';
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    color: #FEFCF7;
}
.main__subtitle{
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 30%;
    color: #FEFCF7;
    margin-top: 30px;
    margin-bottom: 50px;
}
.main__link{
    background-color: #0E8784;
    padding: 15px 30px;
    font-family: 'Fraunces';
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    color: #FEFCF7;
    border-radius: 6px;
    text-decoration: none;
}
.main__link:hover{
    background-color: #66D2CF;
}

.nav__submenu{
    list-style-type: none;
    display: none;
}
.fas{
    display: none;
}
input{
    display: none;
}








.cards{
    padding-top: 150px;
    margin-bottom: 150px;
    background-image: url('/img/collection.png');
    background-repeat: no-repeat;
    background-position: center  -30px;
    background-size: 1400px;
}
.coffee-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.coffee-card{
    width: 260px;
    text-align: center;
}
.card__title{
    font-family: 'Fraunces';
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    margin-top: 70px;
}
.card__subtitle{
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
}

.about{
    margin-bottom: 300px;
    padding-top: 90px;
    height: 600px;
    background-color: #333D4B;
    border-radius: 10px;
}
.about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__title{
    margin-bottom: 35px;
    color: #FEFCF7;
    text-align: center;
    font-family: 'Fraunces';
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
}
.about__subtitle{
    color: #FEFCF7;
    width: 40%;
    margin-bottom: 80px;
    text-align: center;
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.card{
    color: #FEFCF7;
    width: 350px;
    border-radius: 10px;
    padding-top:70px;
    padding-bottom:40px;
    padding-right:45px ;
    padding-left: 45px;
    background-color: #0E8784;
}

.pre-footer{
    margin-bottom: 150px;
}
.pre-footer__title{
    color: #83888F;
    font-family: 'Fraunces';
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
}
.circles{
    position: relative;
    margin-top: 80px;
    display: flex;
}
.line{
    width: 860px;
    height: 2px;
    background-color: #FDD6BA;
    position: absolute;
    top: 15px;
    left: 20px;
}
.circle1{
    margin-right: 400px;
}
.circle2{
    margin-right: 400px;
}
.circle{
    z-index: 5;
    background-color: white;
    width: 30px;
    height: 30px;
    border: #0E8784 2px solid;
    border-radius: 50%;
}
.footer-card{
    width: 300px;
    margin-top: 60px;
    text-align: left;
}
.works-title{
    font-family: 'Fraunces';
    font-size: 72px;
    font-weight: 900,black;
    line-height: 72px;
    color: #FDD6BA;
}
.footer-card-title{
    margin-top: 35px;
    margin-bottom: 40px;
    font-size: 35px;
}
.footer-card > p{
    margin-bottom: 50px;
}
.footer__wrapper{
    display: flex;
    justify-content: space-around;
}

.footer__link{
    margin-left: 90px;
}

footer{
    background-color: #2C343E;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 45px 85px;
}
.footer__links{
    margin-left: 100px;
    flex: 1 1 10%;
}

.links__link{
    margin-left: 15px;
    text-decoration: none;
    color: #83888F;
    font-family: 'Barlow';
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
}

.links__link:hover{
    color: #FEFCF7;
}
.icons > a,i{
    text-decoration: none;
    color: #FEFCF7;
    margin-left: 25px;
}
.icons i:hover{
    color: #FDD6BA;
}
@media screen and (max-width:768px) {
    .container{
        max-width: 689px;
    }
    nav{
        padding: 35px 0px;
    }
    .logo{
        margin-right: auto;
    }
    .nav__link{
        font-size: 10px;
        margin-left: 10px;
    }
    .logo-img{
        width: 180px;
        height: 25px;
    }
    .header__main{
        width: 689px;
        height: 500px;
        padding-left:60px;
        padding-top:60px;
        background-image: url('/img/Bitmap.png');
    }
    .main__title{
        font-size: 48px;
        line-height: 40px;
        width: 48%;
    }
    .main__subtitle{
        font-size: 16px;
        line-height: 30px;
        width: 70%;
        margin-top: 35px;
        margin-bottom: 60px;
    }
    .main__link{
        padding: 20px 25px;
        font-size: 18px;
    }
}

@media screen and (max-width:375px) {
    .container{max-width: 327px;}
    nav{
        padding: 20px 0px;
    }
    .nav__list{
        display: none;
    }
    .logo-img{
        width: 220px;
        height:30px;
    }
    .header__main{
        width: 327px;
        height: 500px;
        padding-left:30px;
        padding-top:30px;
        background-image: url('/img/Bitmap2.jpg');
    }
    .main__title{
        font-size: 40px;
        line-height: 40px;
        width: 90%;
        text-align: center;
    }
    .main__subtitle{
        font-size: 14px;
        line-height: 25px;
        width: 90%;
        text-align: center;
    }
    .main__link{
        margin-left: 55px;
        padding: 15px 20px;
        font-size: 15px;
    }











