*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 1400px;
	margin: 0 auto;
}
.logo{
    margin-right: auto;
}
.nav__list{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.nav__link{
    font: 700 12px/15px 'Barlow';
    letter-spacing:.9px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 33px;
    color: #83888F;
}
.nav__link:hover{
    color: #333D4B;
}