@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background-color: #F2F2F2;
}
.container{
	width: 1440px;
	margin: 0 auto;
}
nav{
    display: flex;
    padding: 65px 0px;
}
.logo{
    margin-right: auto;
}
.nav__list{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.nav__link{
    font: 700 12px/15px 'Barlow';
    letter-spacing:.9px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 33px;
    color: #83888F;
}
.nav__link:hover{
    color: #333D4B;
}
.header__main{
    padding-left: 90px;
    padding-top: 115px;
    background-image: url('/img/hero-bg.png');
    background-size: cover;
    height: 600px;
    width: 1440px;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.main__title{
    width: 40%;
    font-family: 'Fraunces';
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    color: #FEFCF7;
}
.main__subtitle{
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 30%;
    color: #FEFCF7;
    margin-top: 30px;
    margin-bottom: 50px;
}
.main__link{
    background-color: #0E8784;
    padding: 15px 30px;
    font-family: 'Fraunces';
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    color: #FEFCF7;
    border-radius: 6px;
    text-decoration: none;
}
.main__link:hover{
    background-color: #66D2CF;
}
@media screen and (max-width:768px) {
    .container{
        max-width: 689px;
    }
    nav{
        padding: 35px 0px;
    }
    .logo{
        margin-right: auto;
    }
    .nav__link{
        font-size: 10px;
        margin-left: 10px;
    }
    .logo-img{
        width: 180px;
        height: 25px;
    }
    .header__main{
        width: 689px;
        height: 450px;
        padding-left:60px;
        padding-top:60px;
        background-size:cover;
    }
    .main__title{
        font-size: 45px;
        line-height: 40px;
        width: 45%;
    }
    .main__subtitle{
        font-size: 16px;
        line-height: 30px;
        width: 70%;
        margin-top: 35px;
        margin-bottom: 60px;
    }
    .main__link{
        padding: 20px 25px;
        font-size: 18px;
    }
}

/* @media screen and (max-width:375px) { */
    /* .container{max-width: 327px;} */
    /* nav{
        padding: 30px 0px; */
    /* } */
    /* .logo{
    } */
    /* .nav__list{
        display: none;
    }
    .logo-img{
        width: 220px;
        height:30px;
    }
    .header__main{
        width: 350px;
        height: 500px;
        padding-left:30px;
        padding-top:30px;
        background-size:10000px;
        background-color: red;
    }
    .main__title{
        font-size: 40px;
        line-height: 40px;
    }
    .main__subtitle{
        font-size: 15px;
        line-height: 25px;
        width: 60%;
    }

} */













/* section{
    margin-bottom: 150px;
}
.card__title{
    font-family: 'Fraunces';
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    margin-top: 70px;
}
.card__subtitle{
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
} */